<div class="container">
  <div class="product-list">
    <mat-card
      class="card"
      *ngFor="let product of products$ | async"
      (click)="openDialog(product)"
      [ngClass]="{'disabled-card': product.qty === 0 ? true : false}"
    >
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product.imageUrl" alt="Photo of product">
      <mat-card-content>
        <p>price: ${{product.price}}</p>
        <p>Qty: {{product.qty}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="total-info">
    <mat-form-field appearance="outline" class="info-box">
      <mat-label>Total Amount Of Cash</mat-label>
      <input matInput readonly [value]="totalCashAmount$ | async | currency">
    </mat-form-field>
    <mat-form-field appearance="outline" class="info-box">
      <mat-label>Total Amount Of Credit Card</mat-label>
      <input matInput readonly [value]="totalCreditAmount$ | async | currency">
    </mat-form-field>
    <mat-form-field appearance="outline" class="info-box">
      <mat-label>Number of Sold Products</mat-label>
      <input matInput readonly [value]="numberOfSeledProducts$ | async">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="align-to-right"
      (click)="onReset()"
      [disabled]="(numberOfSeledProducts$ | async) !== 10"
    >Reset</button>
  </div>
</div>
